// Font Variables

$headline: Pacifico;
$headline-fb: cursive;
$body: Cabin;
$body-fb: sans-serif;

$headline-font-size: 150px;

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cabin');
