@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';

// Your CSS/SCSS below this line

body {
  font-family: $body, $body-fb;
  @include linear-gradient($primary-color-1, $primary-color-2);
  color: $body-color;
}

.container {
  background-color: $container-color;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $headline, $headline-fb;
  color: $headline-color;
}

h1 {
  font-size: $headline-font-size;
}

img{
  width: 100%;
  height: auto;
}

.grayscale {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.consistentcolor {
  background-color: $primary-color-2;
}

.toggler { width: 500px; height: 200px; position: relative; }
   #button { padding: .5em 1em; text-decoration: none; }
   #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
   #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
